li(class="liste-articles__article")
    div(class="article__titre")
        h3.hidden Nom du produit
        img(src="./img/preview.jpg")
    div(class="article__description")
        span.article__description--nom Nom du produit
        span.article__description--prix 35,50€