///*------------------------------------*\
// #MENU CATEGORIES (design)
//\*------------------------------------*/

.list-categories__nav {
    padding-bottom: 0.2em;
}

.list-categories {
    a {
        text-decoration: none;
        color: $inuit-base-text-color;
        transition: border-bottom 650ms ease;
    }
    
    a:hover {
        border-bottom: 2px solid $inuit-color-red;
        transition: border-bottom 650ms ease;
    }
}