///*------------------------------------*\
// #LISTE ARTICLES (comportement)
//\*------------------------------------*/

.contact-form__fieldset {
    padding: 2.5em 15em 2.5em 5em;
}

.contact-form {
    input[type="checkbox"] {
        width: auto;
        float: inherit;
    }
    
    input, label, button, textarea {
        float: left;
        width: 100%;
    }
    
    textarea {
        min-height: 8em;
    }
}